.App {
  text-align: center;
  display: flex;
  max-width: 650px;
  flex-direction: column;
  background-color: rgb(34, 34, 34);
  margin: 15px 10px 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
}

.bottom {
  display: flex;
  justify-content: center;
  background-color: rgb(41, 41, 41);
  border-radius: 0 0 10px 10px;
}

.wall {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
